.add-edit-user-form {
    &__active,
    &__staff {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
  
      .ui.checkbox {
        margin-right: 20px;
      }
    }
}