.leaflet-container {
  width: 100vw;
  height: 50vh;
  z-index: 0;
}

// .map_container {
//   // width: 100%; /* ancho del contenedor */
//   // height: 500px; /* altura del contenedor */
//   margin: 0 auto; /* centrar horizontalmente */
//   border: 1px solid #ccc; /* borde del contenedor */
//   box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* sombra del contenedor */
//   overflow: hidden; /* evitar que el contenido del mapa se desborde */
// }