.boton_crear_vigilancia {
  margin-top: 50px;
}

// input:disabled {
//     opacity: 0.9; /* cambia la opacidad a 50% */
//   }
// .disable{
//     color: black;
//     opacity: 0.9999;
//     border: 10px;
// }
:disabled {
  opacity: 0.99;
}

.custom-form {
  /* Cambiar el color del borde y el fondo del formulario */
  // border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
}

.custom-form .field {
  /* Añadir espacio entre los campos */
  margin-bottom: 1em;
}

.custom-form label {
  /* Cambiar el color y la fuente de las etiquetas de los campos */
  font-weight: bold;
  font-size: 1.2em;
  color: #444;
}

.custom-form input[type="text"],
.custom-form input[type="date"],
.custom-form textarea {
  /* Cambiar el ancho y el estilo del borde de los campos de entrada */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  padding: 0.5em;
  font-size: 1.1em;
}

.custom-form input[type="text"]:focus,
.custom-form input[type="date"]:focus,
.custom-form textarea:focus {
  /* Cambiar el color del borde cuando el campo está enfocado */
  border-color: green;
}

.custom-form .positive.button {
  /* Cambiar el color del botón de envío */
  background-color: green;
  color: #fff;
  font-size: large;
}

.custom-form .positive.button:hover {
  /* Cambiar el color del botón de envío al pasar el ratón por encima */
  background-color: rgb(0, 102, 128);
}

.custom-form {
  font-size: large !important;
}

// .file-input-container {
//   position: relative;
// }

//   .label {
//     display: inline-block;
//     // background-color: #f39c12;
//     color: white;
//     padding: 8px 16px;
//     border-radius: 4px;
//     cursor: pointer;
//   }

// .file-input {
//   // opacity: 0;
//   position: relative;
//   // top: 0;
//   // left: 0;
//   // width: 100%;
//   // height: 100%;
// }

.file-input-error {
  color: red;
  margin-top: 4px;
}