// .gov-footer {
//   background-color: #f1f1f1;
//   padding: 20px 0;
// //   color: #666;
// }

// .gov-footer h3 {
//   color: #333;
// }

// .gov-footer ul {
//   list-style: none;
//   padding: 0;
// }

// .gov-footer ul li {
//   margin-bottom: 90px;
// }

// .gov-footer ul li a {
//   color: #666;
//   text-decoration: none;
// }

// .gov-footer ul li a:hover {
//   color: #333;
// }

// .container {
//   width: 90%;
//   margin: 0 auto;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin-bottom: 20px;
// }

// .col-md-6 {
//   width: 50%;
// }

.col-md-12 {
    display: flex;
    justify-content: center;
  width: 100%;
  color: white;

}