.login-admin {
  height: 598px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 23, 46);
  background-size: contain;
  background-image: white;


  &__content {
    background-color: white;
    padding: 50px 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
  }
}


.recuperar-contraseña-usuario{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.title-ministerio{
  background-color:rgb(16, 23, 46) ;
  padding: 70px 700px 15px;
  justify-content: center;
  display:flex;
  
  &__logo{
    padding-left: 40px;
  }
  h1 {
     font-size: 35px;
     text-align: center;
     color: white;
     opacity: 0.85;
  }
}
.img-ministerio{
  border-radius: 20px;
}