.header-page-vigilancia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.contenido-formulario-buscar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.contenido-buscar-recargar{
    display: flex;
}

.boton-recargar{
    margin-left: 10px;
}
