// .header-page-usuarios{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
.header-page-usuarios{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .contenido-buscar-recargar{
//     display: flex;
// }
// .boton-recargar{
//     margin-left: 10px;
// }
.agregar-usuario{
    font-size: large !important;
    display: flex;
    margin-left: 1500px;
    margin-top: 5px;
}